# -- Application

/web/app/plugins/*
!/web/app/plugins/.gitkeep

/web/app/mu-plugins/*
!/web/app/mu-plugins/register-theme-directory.php
!/web/app/mu-plugins/bedrock-autoloader.php
!/web/app/mu-plugins/disallow-indexing.php

/web/app/upgrade

/web/app/uploads/*
!/web/app/uploads/.gitkeep

# -- WP install directory
/web/wp/*
!/web/wp/.gitkeep
/web/.htaccess

# -- WP-CLI
db-sync
sql-dump-*.sql

# -- Dotenv
.env
.env.dist
!.env.dist

# -- Mina environment configs
/config/deploy/*
!/config/deploy/environment.rb.example

# -- Other vendor packages
vendor/*
!vendor/.gitkeep

# -- Integrated plugins and themes (kept as part of this package)
# Example:
# !/web/app/plugins/my-plugin-folder/
!/web/app/plugins/ga-thunderpress/
