# -- WordPress
web/wp
web/.htaccess

# -- Dotenv
.env
.env.*
!.env.example

# -- NPM
node_modules

# -- Mina environment configs
/config/

# -- Other vendor packages (not WordPress-related)
vendor/*
!vendor/.gitkeep

# -- Application defaults
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*
!web/app/mu-plugins/.gitkeep
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# -- Default MU plugins
!web/app/mu-plugins/disallow-indexing.php
!web/app/mu-plugins/register-theme-directory.php
!web/app/mu-plugins/bedrock-autoloader.php

# -- Integrated plugins and themes (kept as part of this package)
# Example:
# !web/app/plugins/my-plugin-folder/
