# EXAMPLE ENVIRONMENT CONFIGURATION
# Server: [filename]


# SSH settings
#
# Settings:
# - domain         The hostname or IP address that SSH will connect to.
# - user           The remote username.
# - port           The port to connect to
# - identity_file  The path to the private key, if using key-based authentication; if you're
#                  using standard password authentication, *remove* this setting.
#
set :domain,        '127.0.0.1'
set :user,          'user'
set :port,          '22'
set :identity_file, '~/.ssh/your_private_key'


# Server deploy path (MUST be an absolute path)
set :deploy_to, '/var/www/vhost/minatest/www'


# Branch and ref overrides
#
# You can override the default mode or reference for this environment.
#
set :default_mode, 'branch'
set :default_ref,  'development'


# Environment-specific build commands
#
# These will be *prepended* to (placed before) the global build command list.
#
$env_build_commands = []


# Environment-specific launch commands
#
# These will be *prepended* to (placed before) the global launch command list.
#
$env_launch_commands = [
    %[sudo service nginx restart],
    %[sudo service php5-fpm restart],
    %[sudo service hhvm restart]
]


# Environment-specific clean commands
#
# These will be *prepended* to (placed before) the global clean command list.
#
$env_clean_commands = []
